*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --transparent-white: hsla(0, 0%, 100%, 0.75); // for (paragraphs)
  --very-light-grey: hsl(0, 0%, 95%); // for (background, headings, buttons)
}

body {
  background-color: var(--very-light-grey);
}

.cards {
  display: flex;
  margin: 100px auto;
  border-radius: 10px !important;
  width: 60%;
  position: relative;

  @media screen and (max-width: 1024px) {
    margin-top: 150px auto;
    width: 80%;
  }
  @media screen and (max-width: 768px) {
    margin: 50px auto;
    flex-direction: column;
    width: 65%;
  }
  @media screen and (max-width: 600px) {
    margin: 50px auto;
    flex-direction: column;
    width: 90%;
  }
}

.card {
  padding: 50px;
  --gap: 20px; // bottom margin fo heading and desc

  .icon {
    width: 50px;
    margin-bottom: var(--gap);
  }

  .heading {
    font-family: "Big Shoulders Display", cursive;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--very-light-grey);

    margin-bottom: var(--gap);
  }

  .desc {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--transparent-white);

    margin-bottom: 50px;
  }

  .link {
    display: block;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    padding: 12.5px 25px;
    background-color: var(--very-light-grey);
    border: 2px solid var(--very-light-grey);
    transition: 0.3s ease-in-out;

    &:hover {
      color: var(--very-light-grey);
    }

    @media screen and (max-width: 600px) {
      width: max-content;
    }
  }

  &:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    @media screen and (max-width: 768px) {
      border-bottom-left-radius: 0;
      border-top-right-radius: 10px;
    }
  }
  &:nth-last-child(1) {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

    @media screen and (max-width: 768px) {
      border-top-right-radius: 0;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

.sedans {
  --card-color: hsl(31, 77%, 52%);
  background-color: var(--card-color);

  .link {
    color: var(--card-color);

    &:hover {
      background-color: var(--card-color);
    }
  }
}
.suvs {
  --card-color: hsl(184, 100%, 22%);
  background-color: var(--card-color);

  .link {
    color: var(--card-color);
    &:hover {
      background-color: var(--card-color);
    }
  }
}
.luxury {
  --card-color: hsl(179, 100%, 13%);
  background-color: var(--card-color);

  .link {
    color: var(--card-color);
    &:hover {
      background-color: var(--card-color);
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
