*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --transparent-white: hsla(0, 0%, 100%, 0.75); // for (paragraphs)
  --very-light-grey: hsl(0, 0%, 95%); // for (background, headings, buttons)
}

body {
  background-color: var(--very-light-grey);
}

.cards {
  display: flex;
  margin: 5rem auto;
  border-radius: 0.625rem !important;
  width: 60%;
  position: relative;

  @media screen and (max-width: 1024px) {
    margin-top: 9rem auto;
    width: 80%;
  }
  @media screen and (max-width: 768px) {
    margin: 3rem auto;
    flex-direction: column;
    width: 65%;
  }
  @media screen and (max-width: 600px) {
    margin: 3rem auto;
    flex-direction: column;
    width: 90%;
  }
}

.card {
  padding: 3rem;
  --gap: 1.25rem; // bottom margin fo heading and desc
  display: flex;
  flex-direction: column;

  .icon {
    width: 3rem;
    margin-bottom: var(--gap);
  }

  .heading {
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--very-light-grey);

    margin-bottom: var(--gap);
  }

  .desc {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--transparent-white);

    margin-bottom: 3rem;
  }

  .link {
    display: block;
    padding: 0.85rem 1.6rem;
    margin-top: auto;
    border: 0.125rem solid var(--very-light-grey);
    border-radius: 1.875rem;

    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    background-color: var(--very-light-grey);
    transition: 0.3s ease-in-out;

    &:hover {
      color: var(--very-light-grey);
    }

    &:focus-visible {
      border: 0.125rem solid black;
      outline: none;
    }

    @media screen and (max-width: 768px) {
      width: max-content;
      padding: 1rem 2.1rem;
    }

    @media screen and (max-width: 600px) {
      padding: 0.85rem 1.6rem;
    }
  }

  --border-radius: 0.625rem;

  &:nth-child(1) {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);

    @media screen and (max-width: 768px) {
      border-bottom-left-radius: 0;
      border-top-right-radius: var(--border-radius);
    }
  }
  &:nth-last-child(1) {
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    @media screen and (max-width: 768px) {
      border-top-right-radius: 0;
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }
}

.sedans {
  --card-color: hsl(31, 77%, 52%);
  background-color: var(--card-color);

  .link {
    color: var(--card-color);

    &:hover {
      background-color: var(--card-color);
    }
  }
}
.suvs {
  --card-color: hsl(184, 100%, 22%);
  background-color: var(--card-color);

  .link {
    color: var(--card-color);
    &:hover {
      background-color: var(--card-color);
    }
  }
}
.luxury {
  --card-color: hsl(179, 100%, 13%);
  background-color: var(--card-color);

  .link {
    color: var(--card-color);
    &:hover {
      background-color: var(--card-color);
    }
  }
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
